## TANZANIA WATER CLASSIFICATION

objectives
- To build a classification model which will be able to clasify whether the waterpumps are faulty are functional, not functional and non functional
- If population round the waterpoint affects the lifespan of the waterpump
- The majority pump investor by number
- Identify the relationship of the waterpump to other

In [2]:
# Loading relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# loading the data
dataset_1 = pd.read_csv('training_set.csv')
dataset_2 = pd.read_csv('testing.csv')
dataset_3 = pd.read_csv('labels.csv')

We have three sets of data. Training, testing and labels

In [4]:
# function to preview the data
def preview_data (data):
    print(data.columns)
    return preview_data

In [5]:
preview_data(dataset_1)
preview_data(dataset_2)
preview_data(dataset_3)

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')
Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')
Index(['id', 'status_group'], dtype='object')

In [6]:
dataset_1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [7]:
# merging the training and labels dataset 

data = pd.merge(dataset_1,dataset_3,on='id')
data[15:40]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
15,61848,0.0,2011-08-04,Rudep,1645,DWE,31.444121,-8.274962e+00,Kwa Juvenal Ching'Ombe,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185e+00,Kwa John Mtenzi,0,...,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional
17,58155,0.0,2011-09-04,Unicef,1656,DWE,34.569266,-9.085515e+00,Kwa Rose Chaula,0,...,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional
18,34169,0.0,2011-07-22,Hesawa,1162,DWE,32.920154,-1.947868e+00,Ngomee,0,...,milky,milky,insufficient,insufficient,spring,spring,groundwater,other,other,functional needs repair
19,18274,500.0,2011-02-22,Danida,1763,Danid,34.508967,-9.894412e+00,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
20,48375,200.0,2011-02-27,Twe,2216,TWE,34.473430,-9.594990e+00,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
21,6091,0.0,2013-02-10,Dwsp,0,DWE,0.000000,-2.000000e-08,Muungano,0,...,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump,functional
22,58500,0.0,2011-10-04,Unicef,1510,DWE,34.586901,-8.980014e+00,Shuleni,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional needs repair
23,37862,500.0,2013-11-03,Isf,672,ISF,37.940029,-4.125595e+00,Kinonga,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
24,51058,0.0,2013-01-21,African Development Bank,1645,DWE,29.747066,-4.495568e+00,Kamsasa,0,...,soft,good,enough,enough,spring,spring,groundwater,improved spring,improved spring,functional
25,22308,0.0,2013-02-25,Government Of Tanzania,1273,DWE,37.422751,-3.317536e+00,Kwa Tukai,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional needs repair
26,55012,500.0,2013-01-16,Sobodo,200,Kilolo Star,39.370777,-9.942532e+00,Ruhoma Primary School,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
27,20145,0.0,2011-07-11,Hesawa,0,DWE,31.104257,-1.735361e+00,Kwawilliam,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
28,19685,0.0,2013-03-05,Government Of Tanzania,1443,District council,37.611126,-3.263526e+00,Kwa Kibakaya,0,...,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,non functional
29,69124,0.0,2013-03-16,Lawatefuka Water Supply,1256,Lawatefuka water sup,37.061688,-3.191989e+00,Kwa Willium Kinda,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
30,46804,0.0,2011-03-23,Water,0,Water,36.108312,-5.791000e+00,Ngosi,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
31,6696,50.0,2011-03-16,Private Individual,180,WU,38.363555,-6.636104e+00,Kituo Cha Maziwa,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
32,57238,0.0,2013-03-19,Government Of Tanzania,1481,DWE,37.492334,-3.290627e+00,Kwa Philip Lyimo,0,...,soft,good,insufficient,insufficient,river,river/lake,surface,other,other,functional needs repair
33,12402,0.0,2011-03-11,Undp,1638,DWE,34.478356,-9.715910e+00,none,0,...,soft,good,seasonal,seasonal,spring,spring,groundwater,communal standpipe,communal standpipe,functional
34,41583,0.0,2011-02-23,NaN,-41,NaN,39.812912,-7.889986e+00,Msikitini Wa Ijumaa,0,...,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
35,57355,0.0,2013-03-28,Not Known,1546,Not known,36.618699,-3.293003e+00,Sekondari,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,non functional
36,67359,0.0,2011-07-16,Danida,0,Central government,33.854345,-9.638520e+00,Office Ya Kijiji,0,...,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe,non functional
37,60048,0.0,2011-03-27,Kirde,0,DWE,35.858373,-4.647906e+00,Tangi,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
38,16583,4000.0,2011-02-20,Cefa,1955,CEFA,35.890264,-8.224399e+00,none,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
39,25,0.0,2013-02-11,Government Of Tanzania,1348,DWE,30.613305,-3.894561e+00,Mkuyuni,0,...,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump,non functional

In [8]:
data.shape

(59400, 41)

## Data Cleaning

In [9]:
# Checking if the columns are in their correct data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55763 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59398 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55522 non-null  object
 21  scheme_name            30590 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

In [10]:
# Dropping the scheme name column
columns_to_drop = ['scheme_name', 'longitude', 'latitude', 'num_private','date_recorded', 'wpt_name', 
                   'subvillage', 'region_code', 'district_code', 'lga','recorded_by', 'extraction_type_group', 'extraction_type_class','source_class', 'waterpoint_type_group']
data.drop(columns=columns_to_drop, inplace=True)
data.columns
data.shape

(59400, 26)

In [11]:
# Checking null values
nulls = lambda x: data.isnull().sum()
nulls(data)

id                      0
amount_tsh              0
funder               3637
gps_height              0
installer            3655
basin                   0
region                  0
ward                    0
population              0
public_meeting       3334
scheme_management    3878
permit               3056
construction_year       0
extraction_type         0
management              0
management_group        0
payment                 0
payment_type            0
water_quality           0
quality_group           0
quantity                0
quantity_group          0
source                  0
source_type             0
waterpoint_type         0
status_group            0
dtype: int64

In [12]:
# Handling the missing values
# rows_to_drop= ['funder', 'installer', 'public_meeting', 'permit']
data.dropna(inplace=True)

The missing values account for a small percentage of the data. We will go ahead and drop the rows with missing values

In [13]:
data.isnull().sum().T

id                   0
amount_tsh           0
funder               0
gps_height           0
installer            0
basin                0
region               0
ward                 0
population           0
public_meeting       0
scheme_management    0
permit               0
construction_year    0
extraction_type      0
management           0
management_group     0
payment              0
payment_type         0
water_quality        0
quality_group        0
quantity             0
quantity_group       0
source               0
source_type          0
waterpoint_type      0
status_group         0
dtype: int64

In [14]:
# checking for duplicate values
data.duplicated().sum()

0

In [15]:
data['construction_year'].value_counts()

construction_year
0       16176
2008     2426
2009     2306
2010     2011
2007     1423
2006     1329
2000     1251
2003     1191
2011     1032
1978      997
2004      987
2002      954
2005      879
1999      877
2012      836
1998      789
1995      782
1985      767
1984      710
1982      695
1972      680
1974      621
1990      615
1994      595
1980      581
1996      571
1992      512
1988      491
2001      477
1997      476
1993      463
1983      457
1975      402
1986      391
1976      367
1970      297
1989      293
1991      278
1987      268
1981      217
1973      183
1979      161
1977      153
2013      134
1971      128
1963       83
1967       80
1968       57
1969       55
1960       39
1964       27
1962       27
1961       20
1965       17
1966       16
Name: count, dtype: int64

In [20]:
categorical_variables = []

for column in data.columns:
    if pd.api.types.CategoricalDtype(data[column]):
        categorical_variables.append(column)

ValueError: Categorical categories must be unique

In [19]:
categorical_variables

['id',
 'amount_tsh',
 'funder',
 'gps_height',
 'installer',
 'basin',
 'region',
 'ward',
 'population',
 'public_meeting',
 'scheme_management',
 'permit',
 'construction_year',
 'extraction_type',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'waterpoint_type',
 'status_group']